<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Games</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <style>
  .form-control {
    margin-bottom: 10px;
  }
  .btn-danger {
    margin-top: 8px;
  }
  </style>
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <a class="navbar-brand"><i class="glyphicon glyphicon-bullhorn"></i>Games</a>
    </div>
  </nav>
  <div class="container" id="games">
    <div class="col-sm-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Add Game</h3>
        </div>
        <div class="panel-body">
          <div>
            <input class="form-control" placeholder="Game Title" v-model="game.title">
            <button class="btn btn-primary" v-on:click="addGame()">Create</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="list-group">
        <a href="#" class="list-group-item" v-for="game in games">
          <h4 class="list-group-item-heading"><i class="glyphicon glyphicon-bullhorn"></i> {{ game.gameName }}</h4>
          <button class="btn btn-xs btn-danger" v-on:click="deleteGame(game.game_id,$index)">Delete</button>
        </a>
      </div>
    </div>
  </div>

</body>
<script src="node_modules/vue/dist/vue.min.js"></script>
<script src="node_modules/vue-resource/dist/vue-resource.min.js"></script>
<script src="app.js"></script>
</html>